<div width="200">
  <div *ngFor="let resepti of reseptit"  class="movieClickable" (click)="muokkaaRaakaainepainettu(resepti.reseptiid,resepti.raakaaine.raakaaineid)"> 
 



 <a>{{resepti.raakaaine.nimi}} {{resepti.prosenttisuus}} %<button (click)="poistaRaakaainepainettu(resepti.reseptiid)">delete</button></a>



    

  </div>


  <div>




 <div *ngIf="!raakaAinemuokkapainettu">
  lisää raakaaine
<form (ngSubmit)="tallennaRaakaaine()" [formGroup]="reseptiInput">
<div class="form-group">


<input type="number" matInput placeholder="prosenttisuus" formControlName="prosenttisuus">

  <select formControlName="raakaaine" placeholder="raakaaine" required>
    <option *ngFor="let aine of raakaaineet" value="{{aine.raakaaineid}}">{{aine.nimi}}</option>
  </select>

</div>
 <button type="submit" color="primary">Save</button><br>
          </form>
   </div>









</div>

 <div *ngIf="raakaAinemuokkapainettu">
 Moukka prosenttisuus
<form (ngSubmit)="tallennaRaakaaineprosenttipainettu()" [formGroup]="prosenttiInput">
<div class="form-group">

<input type="number" formControlName="prosenttisuus" required>

</div>
 <button type="submit" color="primary">Save</button> 
          </form>
 </div>




 </div>
